In [47]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json

In [48]:
# Pull the data from the csv
ped_count_df = pd.read_csv("Resource/COM_ftraffic_2019_select4.csv")
# Change the -ve values to 0
ped_num_df = ped_count_df._get_numeric_data()
ped_num_df[ped_num_df < 0] = 0
# Convert the date into a datetime for easy sorting
ped_count_df['Date'] = pd.to_datetime(ped_count_df['Date'])
ped_count_df

,Date,Hour,Bourke Street Mall (North),QV Market-Peel St,Flinders St-Spring St (West),QVM-Franklin St (North)
0,2019-01-01,0,918,137,617,446
1,2019-01-01,1,995,165,248,156
2,2019-01-01,2,416,72,67,90
3,2019-01-01,3,382,34,56,48
4,2019-01-01,4,165,23,18,53
...,...,...,...,...,...,...
8755,2019-12-31,19,2276,124,0,175
8756,2019-12-31,20,1993,144,0,177
8757,2019-12-31,21,1537,101,0,208
8758,2019-12-31,22,1607,136,0,219
8759,2019-12-31,23,732,192,0,333

In [49]:
# Get the daily average pedestrian count
averagePed_df = ped_count_df.groupby('Date')[['Bourke Street Mall (North)', 'QV Market-Peel St', 'Flinders St-Spring St (West)', 'QVM-Franklin St (North)']].mean()
averagePed_df

,Bourke Street Mall (North),QV Market-Peel St,Flinders St-Spring St (West),QVM-Franklin St (North)
Date,,,,
2019-01-01,1119.375000,74.916667,99.875000,105.875000
2019-01-02,1504.125000,142.541667,221.041667,133.000000
2019-01-03,1458.750000,122.833333,200.458333,143.916667
2019-01-04,1178.708333,107.833333,195.541667,138.958333
2019-01-05,1384.791667,130.375000,226.083333,156.875000
...,...,...,...,...
2019-12-27,1779.791667,136.375000,0.000000,132.666667
2019-12-28,1514.125000,149.750000,0.000000,134.083333
2019-12-29,1380.291667,140.458333,0.000000,134.541667
2019-12-30,1056.000000,65.291667,0.000000,87.833333
2019-12-31,1589.916667,163.500000,0.000000,167.250000

In [50]:
# Transpose the data ready to merge to the Zomato data
averagePed_df_transposed = averagePed_df.T
averagePed_df_transposed

Date,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
Bourke Street Mall (North),1119.375000,1504.125000,1458.750000,1178.708333,1384.791667,1442.583333,1296.041667,1368.375000,1104.958333,1488.916667,...,1784.041667,2043.458333,2054.500000,1233.166667,1971.666667,1779.791667,1514.125000,1380.291667,1056.000000,1589.916667
QV Market-Peel St,74.916667,142.541667,122.833333,107.833333,130.375000,164.708333,0.000000,129.916667,160.708333,157.916667,...,173.875000,159.833333,194.291667,53.458333,84.875000,136.375000,149.750000,140.458333,65.291667,163.500000
Flinders St-Spring St (West),99.875000,221.041667,200.458333,195.541667,226.083333,99.375000,188.750000,189.166667,50.291667,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
QVM-Franklin St (North),105.875000,133.000000,143.916667,138.958333,156.875000,138.250000,99.041667,137.083333,127.041667,137.625000,...,144.333333,129.333333,139.458333,77.125000,104.833333,132.666667,134.083333,134.541667,87.833333,167.250000