In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
import requests
import pandas as pd
import json
from citipy import citipy
import random

# Import API key
from config import api_key

In [2]:
# Base URL required for API call
url = "https://developers.zomato.com/api/v2.1/search?"

# Parameters to run through Query URL
start = np.arange(0,40,20)
count = 20
city = 259
lat = -37.8136
lon = 144.9631
radius = 2500

# Empty list to hold all API calls
response_data = []

# Loop through Zomato API
for a in range(len(start)):
    query_url = f"{url}entity_id={city}&entity_type=metro&lat={lat}&lon={lon}&radius={radius}&sort=real_distance&apikey={api_key}&start={start[a]}&count={count}"
    response_data.append(requests.get(query_url).json())

In [3]:
type(count)

int

In [4]:
# Empty list to hold all restaurant names, aggregate rating, hours of operation, type of eatery, price 
restr_names = []
rating = []
cuisine_type = []
price_range = []
restr_lat = []
restr_lon = []
b = 0

for a in range(len(start)):
    for x in range(count):
        restr_names.append(response_data[b]["restaurants"][x]["restaurant"]["name"])
        rating.append(response_data[b]["restaurants"][x]["restaurant"]["user_rating"]["aggregate_rating"])
        cuisine_type.append(response_data[b]["restaurants"][x]["restaurant"]["cuisines"])
        price_range.append(response_data[b]["restaurants"][x]["restaurant"]["price_range"])
        restr_lat.append(response_data[b]["restaurants"][x]["restaurant"]["location"]["latitude"])
        restr_lon.append(response_data[b]["restaurants"][x]["restaurant"]["location"]["longitude"])        
    b += 1

In [5]:
zomato_df = pd.DataFrame({
    "Name": restr_names,
    "Aggregate Rating": rating,
    "Type": cuisine_type,
    "Price": price_range,
    "Latitude": restr_lat,
    "Longitude": restr_lon,
})

zomato_df.tail(10)

,Name,Aggregate Rating,Type,Price,Latitude,Longitude
30,Tutti Frutti Frozen Yogurt,3.3,"Frozen Yogurt, Desserts",1,-37.8127612006,144.9637879059
31,Famish'd,3.7,"Healthy Food, Salad, Cafe Food",2,-37.8145424590,144.9626328796
32,Kyo Teahouse,4.5,"Japanese, Desserts, Tea",1,-37.8127445135,144.9637956172
33,Mochi Moments,4.1,Japanese,1,-37.8127802715,144.9638797715
34,Tmix,3.6,"Bubble Tea, Desserts",1,-37.8127548436,144.9638710544
35,Yo Art,3.3,"Coffee and Tea, Desserts, Frozen Yogurt",1,-37.8126221414,144.9635880813
36,Grill'd - Little Bourke St,3.9,Burger,2,-37.8136162100,144.9617158994
37,Calia,4.5,"Japanese, Australian, Asian",4,-37.8127461027,144.9639669433
38,The Tea Empire,3.6,"Bubble Tea, Tea, Taiwanese, Beverages",1,-37.8126933927,144.9622885510
39,Whitehart,3.7,Bar Food,3,-37.8129545586,144.9619472399

In [6]:
restr_names

['Sparrows Philly Cheese Steaks Food Truck',
 'Moo Mii Sushi',
 'Schnitz',
 'Yifang Taiwan Fruit Tea - Elizabth 一芳臺灣水果茶',
 'Tropicana Juice Food Bar',
 'Subway',
 'Captains of Industry',
 'Federal Coffee',
 'Udon Yasan',
 'Ca de Vin',
 'Sweet Canteen',
 'Cartel Coffee Roasters',
 'Brunetti',
 'Shanghai Street Dumpling & Mini Juicy Bun',
 "Hana's Kitchen",
 'Beneath Driver Lane',
 'The Salon Bar & Cafe',
 'Little Ramen Bar',
 'Luis BBQ & Pizza',
 'Shanghai Street on Bourke',
 'Brother Baba Budan',
 'Manchester Press',
 'Tipo 00',
 'Ramen Ya',
 '1000 Wat',
 'Portello Rosso',
 'Osteria Ilaria',
 'Pho Nom',
 '+39 Pizzeria',
 'Noodle Express by Dainty Sichuan',
 'Tutti Frutti Frozen Yogurt',
 "Famish'd",
 'Kyo Teahouse',
 'Mochi Moments',
 'Tmix',
 'Yo Art',
 "Grill'd - Little Bourke St",
 'Calia',
 'The Tea Empire',
 'Whitehart']